<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/userfeed">Dear Diary</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/userfeed" class="btn btn-secondary"> Home </a></li>
          <li id="about"><a href="/compose" class="btn btn-secondary"> Compose </a></li>
          <li id="about"><a href="/logout" class="btn btn-secondary"> Log Out </a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
