<%- include('partials/header'); -%>
<div style ="text-align: center">
  <h1>A secure way to keep your diary</h1>
  <div style="display: inline-block">
    <h3>
      Tell the tales you've never told anyone.</h3>
      <h3>Write and publish so that only you can see it.</h3>
      <br />
      <div >
        <a href="/signup" class="btn btn-lg btn-primary">Get Started</a>
      </div>

    </div>
  </div>


<%- include('partials/footer'); -%>
